{% load static %}
{% load static %}
<footer style="background-image: url('{% static "images/footer-bg.jpg" %}')">
    <div class="wrapper container">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="اجاره خودرو">
        <div class="row">
            <div class="col-6 p-0">
                <div class="row">
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست خودروها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="خودرو ساحلی">خودرو ساحلی</a></li>
                            <li><a href="#" class="link" title="خودرو جنگلی">خودرو جنگلی</a></li>
                            <li><a href="#" class="link" title="خودرو کوهستانی">خودرو کوهستانی</a></li>
                            <li><a href="#" class="link" title="خودرو مدرن">خودرو مدرن</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">لیست خودرو ها</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="خودرو شهری">خودرو شهری</a></li>
                            <li><a href="#" class="link" title="خودرو روستایی">خودرو روستایی</a></li>
                            <li><a href="#" class="link" title="خودرو کلاسیک">خودرو کلاسیک</a></li>
                            <li><a href="#" class="link" title="خودرو لوکس">خودرو لوکس</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="row">
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">خدمات ما</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="رزرو آنلاین">رزرو آنلاین</a></li>
                            <li><a href="#" class="link" title="پشتیبانی 24/7">پشتیبانی 24/7</a></li>
                            <li><a href="#" class="link" title="تخفیف های ویژه">تخفیف های ویژه</a></li>
                            <li><a href="#" class="link" title="راهنمای گردشگری">راهنمای گردشگری</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-link-wrapper">
                        <p class="title">تماس با ما</p>
                        <ul class="footer-link list-unstyled px-3">
                            <li><a href="#" class="link" title="درباره ما">درباره ما</a></li>
                            <li><a href="#" class="link" title="تماس با ما">تماس با ما</a></li>
                            <li><a href="#" class="link" title="سوالات متداول">سوالات متداول</a></li>
                            <li><a href="#" class="link" title="همکاری با ما">همکاری با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="social text-center">
            <a href="#" class="item" title="توییتر"><i class="fab fa-twitter"></i></a>
            <a href="#" class="item" title="فیسبوک"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="item" title="تلگرام"><i class="fab fa-telegram-plane"></i></a>
            <a href="#" class="item" title="اینستاگرام"><i class="fab fa-instagram"></i></a>
            <a href="#" class="item" title="لینکدین"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="row copy-right">
            <div class="col-md-6">
                <p class="m-0 pb-2 text-center"> Copyright © 2024 Designed by Savarbino</p>
            </div>
            <div class="col-md-6">
                <p class="m-0 pb-2 text-center">کلیه حقوق این سایت متعلق به سواربینو می باشد. <a href="#" title="تیم طراحی"></a></p>
            </div>
        </div>
    </div>
</footer>
